version: "3.9"

services:
  backend:
    build: ./backend
    container_name: mlus-backend
    ports:
      - "5050:5050"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: mlus-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: always
