/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth-card {
//   max-width: 400px;
  margin: 60px auto;
}

.full {
  width: 100%;
}

.link {
  margin-top: 10px;
  text-align: center;
}

app-back-button {
  position: absolute;
  top: -40px;
  left: 0;
}