.center-dashboard-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  transform: translateY(100px);
}

mat-card {
//   max-width: 400px;       
  width: 100%;              
  padding: 20px;
  margin: auto;
}